
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    margin: auto;
}

.user-input > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-section{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.cards1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-top: 50px;
    width: 330px;
    height: 145px;
    background-color: white;
    /* max-width: 400px; */
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(64, 64, 64, 0.1);
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 490px;
    padding: 20px;
    
}

#pushNote {
    justify-content: center;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: column;  
}

.completed {
    margin: 0;
}

.completed {
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    border-color: #28a745;
}

.completed span {
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.12rem;
}

.todoCard {
    position: relative;
    background-color: white;
    border-radius: 6px;
    color: #000 !important;
    box-shadow: 0 0 5px 0 rgba(40, 6, 190, 0.5);
    color: #fff;
    border: none;
}

.taskComplete {
    max-width: 800px;
    height: 500px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#pushComplete{
    flex-direction: column;
    width: 430px;
}

#tskbox{
    width: 90%;
    margin: 4px;
}


.title {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(180deg, rgb(234, 0, 255), rgb(82, 4, 228));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pushNote {
    display: flex;
    justify-content: flex-start !important;
}

@media (max-width: 991px) {
    .completed {
        margin-top: 20px;
    }

    #pushNote {
        gap: 10px;
        flex-direction: column !important;
        justify-content: center;
    }
    
    #tskbox{
        margin-left: 0;
    }
}
i{
    height: 30px;
}

.card-number{
    position: absolute;
    top: 0;
    left: 10px;    
    font-size: 2rem;
    opacity: 0.3;
    font-weight: 700;
}
.ncTask{
    padding-left: 2rem;
}
.gap{
    gap: 10px;
}